.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 25px;
  background: linear-gradient(135deg, #4e65ff, #92effd);
  transition: 0.3s;
}

.form-container.dark {
  background: #1a1a1a;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin-bottom: 15px;
}



.form-container h1 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
}

.form-container input {
  width: 420px;
  padding: 14px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 17px;
  outline: none;
  transition: 0.3s;
}

.form-container.dark input {
  background: #222;
  border: 1px solid #444;
  color: white;
}

.form-container input:focus {
  border-color: #0077ff;
}

button {
  width: 420px;
  padding: 14px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  background: #0077ff;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #005fcc;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.loader-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-box p {
  font-size: 18px;
  margin-top: -20px;
}
@media (max-width: 600px) {
  .form-container {
    padding: 15px;
  }

  .form-container h1 {
    font-size: 24px;
  }

  .form-container input,
  button {
    font-size: 16px;
    padding: 12px;
  }

  .top-bar {
    max-width: 100%;
  }
}