.expense-container {
  padding: 40px;
  max-width: 600px;
  height: 800px;
  margin: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}



.dark {
  background: #121212;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.expense-card, .result-card {
  background: rgba(255, 255, 255, 0.18);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  width: 500px;
  text-align: center;
  font-size: large;
}

.dark .expense-card, .dark .result-card {
  background: #1f1f1f;
  color: white;
}

button {
  margin-top: 18px;
  padding: 14px;
  border-radius: 12px;
  background: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background: #005fcc;
}

.reset-btn {
  margin-top: 15px;
  background: #ff4444;
}

.loader-box {
  display:flex;
  flex-direction:column;
  align-items:center;
}
/* ----------- RESPONSIVE MOBILE VIEW ---------- */
@media (max-width: 768px) {
  .expense-container {
    padding: 20px;
    height: auto;
  }

  .expense-card,
  .result-card {
    width: 90%;
    padding: 25px;
    border-radius: 16px;
  }

  h1.expense-title {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  input {
    font-size: 1rem;
    padding: 10px;
  }

  button {
    padding: 12px;
    font-size: 1rem;
  }

  .loader-box {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .expense-card,
  .result-card {
    padding: 18px;
  }

  h1.expense-title {
    font-size: 1.4rem;
  }

  button {
    padding: 20px;
  }

  .dark-toggle {
    font-size: 20px;
  }
}
